<ion-app>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>App Financiera</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-label>Hola</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-item lines="none">
        <ion-icon color="danger" name="log-out" slot="start"></ion-icon>
        <ion-label color="danger">Cerrar Sesión</ion-label>
      </ion-item>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
